{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  {% if user.is_superuser %}
    <h3>Hi, {{ user.username }}!</h3>
    <hr>
    <a href="{% url 'admin:index' %}">admin dashboard</a>
    /
    <a href="{% url 'logout' %}">logout</a>
  {% elif user.is_authenticated %}
    <h3>Hi, {{ user.username }}!</h3>
    <hr>
    <div>
      <a href="{% url 'addcard' %}">register card</a>
      /
      <a href="{% url 'removecard' %}">remove card</a>
      /
      <a href="{% url 'logout' %}">logout</a>
    </div>
  {% else %}
    <h3>You are not logged in</h3>
    <hr>
    <div>
      <a href="{% url 'login' %}">login</a>
      /
      <a href="{% url 'signup' %}">signup</a>
    </div>
  {% endif %}
{% endblock %}
