{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  {% if user.is_superuser %}
    <p>Hi {{ user.username }}</p>
    <a href="{% url 'admin:index' %}">admin dashboard</a>
    /
    <a href="{% url 'logout' %}">logout</a>
  {% elif user.is_authenticated %}
    <p>Hi {{ user.username }}</p>
    <p>Customer ID: {{ user.profile.customer_id }}</p>
    <p>Email: {{ user.email }}</p>
    <p>DOB: {{ user.profile.birth_date }}</p>
    <p>Cards IDs:</p>
    <ol>
      {% for i in user.profile.cards_set.all %}
        <li>{{ i.card_id }}</li>
      {% endfor %}
    </ol>
    <div>
      <a href="{% url 'addcard' %}">Register Card</a>
      /
      <a href="{% url 'logout' %}">logout</a>
    </div>
  {% else %}
    <p>You are not logged in</p>
    <div>
      <a href="{% url 'login' %}">login</a>
      /
      <a href="{% url 'signup' %}">signup</a>
    </div>
  {% endif %}
{% endblock %}
