{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block nav-content %}
    <a class='nav-link' href="{% url 'home' %}">Home</a>
    <a class='nav-link' href="{% url 'login' %}">Login</a>
    <a class='nav-link active' href="{% url 'signup' %}">Signup</a>
{% endblock %}

{% block content %}
  <h1 class='mb-5'>Sign Up</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class='btn btn-primary btn-md btn-block'>Sign Up</button>
  </form>
{% endblock %}
